<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @album.description %>
</p>
<p>
  <b>Photos:</b>
  <%= @album.photos %>
</p>
<p>
<%= link_to 'add photo', new_photo_path %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
