<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @album.description %>
</p>

<% if @album.photos.any? %>
	<ul>
		<%= render @photos %>
	</ul>
<% end %>

<p>
	<%= link_to "New Photo", new_album_photo_path(@album) %>
</p>



<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
