<li>
	<%= photo.description %>-<%= photo.id %>-<%= link_to 'Show', album_photo_path(@album, photo) %>-<%= link_to 'Edit', edit_album_photo_path(@album, photo) %>-<%= link_to 'Destroy', album_photo_path(@album, photo), method: :delete, data: { confirm: 'Are you sure?' } %>
</li>